
/* Main container */
.signup {
    
    top: -40px;
    right: 30px;
    backdrop-filter: blur(20px);
    position: relative;
    width: 540px;
    height: 540px;
    /* background-color: rgb(207, 232, 68) ; */
    border-radius: 10px;
    color: aliceblue;
    /* padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 50px auto; Center horizontally */
}

/* Form box */
 .form-box{
    width: 400px;
    padding: 28px;
 }


 form h1{
    font-size: 36px;
    text-align: center;
    margin-left: 80px;
    margin-top: 13px;
 }

 form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 20px;
    padding: 10px;
 }

 .input-box input{
    width: 360px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(225,225,225,.1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 10px 30px; /* Controls where typing starts and ends */
    text-align: left; 
 }

 .input-box input::placeholder{
    color: #fff;
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: -2px;
    /* transform: translateY(50%); */
    translate: 0 82%;
    font-size: 16px;
    color: aliceblue;
}

.input-box label {
    font-size: 14px;
    margin-bottom: 5px;

    /* Add positioning */
    position: relative; /* Or absolute, if needed */
    right: -20px; /* Adjust this value to move it horizontally */
    top: -2px; /* Adjust vertically */
}


/* signup button */
.signup-button {
    background-color: rgb(138, 223, 18);
    border: none;
    padding: 10px 40px;
    border-radius: 30px;
    color: rgb(58, 75, 65);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 30px auto;
    text-align: center;
    margin-right: 100px;
    margin-bottom: -20px;
    margin-top: 40px ;
}

.login-button:hover {
    background-color: aliceblue;
}




/*login links */
.login-link {
    text-align: left;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 14px;
}


.login-link a {
    color: rgb(180, 234, 16);
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}


/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .close-btn :hover {
    color: red;
  }